# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android Signing & Properties
**/android/key.properties
**/android/*.jks
**/android/*.keystore
**/android/*.p12
android/local.properties

# Android Build & Logs
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
.kotlin/
captures/

# Rust / Cargo
**/rust/target/
**/rust/**/*.rs.bk

# Output & Cache
.cache
dist/
all-artifacts/

# FVM Version Cache
.fvm/

# Environment secrets
.env*
env.json